.frame-map{
  object-fit: cover;
  width: 100%;
  height: 30em;
  border: 3px solid #000;
}
.grid-contacto{
  box-sizing: border-box;

  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  max-height: 100%;


  grid-template-areas: "map form";

  grid-template-rows: 1fr; 
  gap: 10px;
}

.hijo-form{
  background-color: #f2f2f2;

  grid-area: form;
  box-sizing: border-box;

}
.hijo-map{
  grid-area: map;
  
}
.grid-contacto > *{
  padding: 20px 20px;
}

/* FORMULAIO */



input[type=submit] {
  width: 100%;
  background-color:#0ec2cc;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #23d5df;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea{
  resize: none;
}


@media screen and (max-width:857px) {
  .grid-contacto{  
    grid-template-areas: "form form"
                        "map map" ;

  }

}