.other-content{
  margin: 0 auto;
  width: 90%;
}
.gallery-grid-container {
  /* margin: 100px;
  max-width: 100%; */
  box-sizing: border-box;
  padding: 2px;
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1px;
  grid-auto-rows: minmax(230px, 1fr);
  box-sizing: border-box;
  grid-auto-flow: dense;
  justify-content: center;
 
}

.wide {
  grid-column: span 2;
}
.tall {
  grid-row: span 2;
}

.gallery-img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.5);  */
  cursor: pointer;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.1s;
  border-radius: 1px;
  filter: grayscale(10%) blur(1.1px);
  border: 1px solid #7c7c7c;
  position: relative;
  
}


.gallery-img:hover,
.gallery-img:focus {
  animation-name: cssAnimation;
  transition: linear;
  animation: cssAnimation 1s;
  filter: grayscale(0);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

}

.gallery-img:hover::after {
  opacity: 1;
  
}
/* texto del header*/

.gallery > header {
  width: 100%;

  border-bottom: 1px solid #ccc;

}
header.home-grid-container {
  min-width: 100px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5.5em;
  margin-bottom: 1.8em;
}


.icon-gallery{
  width: 100px;
}


@keyframes cssAnimation {
  0% {
    z-index: 0;
    transform: scale(1);
  }
  100% {
    z-index: 2;
    transform: scale(1.03);
  }
}

.gallery {


  margin: auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1650px) {

  .gallery-grid-container {
   
    width: 70%;
  }

}
@media screen and (max-width: 1500px) {

  .gallery-grid-container {
    width: 70%;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 10px;
  }
  .gallery {
    padding: 0;
  }

}
@media screen and (max-width: 960px) {
  .gallery-grid-container {
    width: 80%;
    margin-top: 30px;

  }
  .gallery-img:hover,
  .gallery-img:focus {
    animation: none;
  }
  .gallery-img{

    filter: grayscale(0);
  
  }


}

@media screen and (max-width: 858px) and (orientation: landscape) {
  .gallery-grid-container {
    box-sizing: border-box;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 0;
    grid-gap: 5px;
  }
}
@media screen and (max-width: 863px) {
  .gallery-grid-container {
    box-sizing: border-box;

    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    padding: 0;
    grid-gap: 5px;
  }
  .change-tall-2{
    grid-row: auto;
  }

}

@media screen and (max-width: 600px) {
  .gallery-grid-container {
    grid-template-columns: repeat(auto-fill, minmax(20vh, 1fr));
    grid-auto-rows: minmax(10%, auto);
    margin-top: 30px;
    width: 85%;
    bottom: 20px;
  }
  .wide {
    grid-column: auto;
  }

  .tall {
    grid-row: auto;
  }



}
@media screen and (max-width: 865px)  and (orientation: landscape){
 .change-tall-2{
   grid-row: auto;
 }
}

h1.type-title{
  font-size: 20px;
}